<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
        <h4>{{message}}</h4>
    {% endfor %}
    <h1>Login In Here</h1>
    <form method="POST" action="login">
        {% csrf_token %}
        <p>Username</p>
        <input type="text" name="username" />
        <p>Password</p>
        <input type="text" name="password" /><br>
        <input type="submit">
    </form>

</body>
</html>